<pdf>
    <dynamic-page>
    {% for detalles in datos %}
       		<p>CANTIDAD DE KILOMETROS: {{ detalles.kilometros }}</p>
       		<p>VEHICULO ELEGIDO:  {{ detalles.carrospresupuesto.modelonombre }}</p>
     {% endfor %}
    </dynamic-page>
</pdf>
